<h1 class="title animated jackInTheBox">{{ title }}</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="text-center" *ngIf="todos.length == 0"><small>Você ainda não tem nenhuma tarefa hoje</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.title }}
     <button (click)="markAsDone(todo)" *ngIf="!todo.done"> <fa-icon [icon]="faCheckCircle"></fa-icon> Concluir</button>
     <button (click)="markAsUndone(todo)" *ngIf="todo.done"> <fa-icon [icon]="faUndoAlt"></fa-icon> Refazer</button>
     <button (click)="remove(todo)"> <fa-icon [icon]="faTrashAlt"></fa-icon> Remover</button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="formGroup">
    <label>Tarefa: </label>
    <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title">
    <!-- Se o valor no input title é inválido e ele já foi modificado(pristine === false), então mostra a tag small -->
    <small class="danger" *ngIf="formGroup.controls.title.invalid && !formGroup.controls.title.pristine">Este campo deve
      conter entre
      3 a 60 caracteres <br />
    </small>
    <p class="text-center">
      <button class="button" (click)="add()" [disabled]="formGroup.invalid"> <fa-icon [icon]="faSave"></fa-icon> Salvar</button>
    </p>
  </form>
</div>

<button class="add-button animated fadeInUp button" *ngIf="mode=='list'" (click)="changeMode('add')">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
  Nova Tarefa
</button>
<button class="add-button animated fadeInUp button" *ngIf="mode=='add'" (click)="changeMode('list')">
  <fa-icon [icon]="faTimes"></fa-icon>
  Cancelar
</button>